body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.book input {
  display: none;
}

.book input + label::after {
  content: '⬜';
  display: inline-block;
  min-width: 25px;
  text-align: center;
}

.book label:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.book input:checked + label::after {
  /* content: '📖'; */
  content: '📘';
}